.pealkiri {
	font-family:"exo-1","exo",sans-serif;
	font-weight:bold;
	background-color:#FFF;
	padding:7px 0px  0px 15px;
}

.kuupaev {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#999;
	background-color:#fff;
	padding:0px 0px 7px 15px;
}

.sissejuhatus {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#fff;
	padding:0px 0px 7px 15px;
}

#rss-uudised {
	margin: -10px auto 0px;
	width:50%;line-height:30px;
	border-radius:5px;
	min-height:300px;
}

#loader-icon {
	position: fixed;
	top: 50%;
	width:100%;
	height:100%;
	text-align:center;
	display:none;
}
